body {
    text-align: center;
}
table {
    display: inline-block;
}
td {
    width: 20px;
    height: 20px;
}
table, th, tr, td {
    border: 0.5px solid rgb(99, 99, 99);
}
td, th {
    border-left: solid black 0.5px;
    border-top: solid black 0.5px;
}
table {
    border-right: solid black 0.5px;
    border-bottom: solid black 0.5px;
}